schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="naglowek">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="logo"/>
              <xs:element type="xs:string" name="web-title"/>
              <xs:element type="xs:string" name="web-subtitle"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="menu">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="item" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="glowna">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tytul"/>
              <xs:element type="xs:string" name="tresc"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wybor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tabela">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rower" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="opis"/>
                          <xs:element name="czego-szukac">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="content" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="rodzaj" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>